<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300" rel="stylesheet">
  <!-- css <link rel="stylesheet" href="assets/base.css">-->
  <link rel="stylesheet" href="assets/style.css">

  <!-- js -->
  <script src="assets/modernizr.js"></script>
  <script type="text/javascript">
    /* resize the image(s) on page load */
    $(document).ready(function() {
      resize_all_parallax();
    });

    /* resize the image(s) on page resize */
    $(window).on('resize', function(){
      resize_all_parallax();
    });

    /* keep all of your resize function calls in one place so you don't have to edit them twice (on page load and resize) */
    function resize_all_parallax() {
      var div_id = 'img1'; /* the ID of the div that you're resizing */
      var img_w = 1000; /* the width of your image, in pixels */
      var img_h = 864; /* the height of your image, in pixels */
      resize_parallax(div_id,img_w,img_h);
    }

    /* this resizes the parallax image down to an appropriate size for the viewport */
    function resize_parallax(div_id,img_w,img_h) {
      var div = $('#' + div_id);
      var divwidth = div.width();
      if (divwidth < 769) { var pct = (img_h/img_w) * 105; } /* show full image, plus a little padding, if on static mobile view */
      else { var pct = 60; } /* this is the HEIGHT as percentage of the current div WIDTH. you can change it to show more (or less) of your image */
      var newheight = Math.round(divwidth * (pct/100));
      newheight = newheight  + 'px';
      div.height(newheight);
    }
  </script>
</head>

<body>
  <div class="container-fluid">
  <div class="wrapper">
  <div class="info-bar">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <h1 id="headertext">
          <span class="mychangecolor"> Naked</span>
          nails
        </h1>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a id="bookbtn" target="_blank" href="https://my.setmore.com/bookanappointmentv3.do?uniqueKey=a7b79ae1-8af2-44ce-af18-0204b814dc7f" role="button">Book now</a>
      </div>
    </div>
  </div>

    <main>
        <div class="parallax_img_1" id="img1"></div>
        <section class="module content">
          <div class="container">
            <h2>Do you feel 
            <span class="mychangecolor"> Naked</span>? Let us help you with that. Our service include trimming, shaping, massaging, cleaning, and applying hot towel.</h2>
            <table style="width:100%">
              <tr>
                <th>
                <p id="service_name">Nail it - Regular Manicure
                </p>
                </th>
                <th>
                <p id="service_name">15$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">Our classic course. First we trim and shape your nails. After that we clean your nail bed, massage it and apply hot towel. And before finally applying the polish we give it another quick clean</p>
                </td>
              </tr>
              <tr>
                <th>
                <p id="service_name">Almost There - No Chip Manicure
                </p>
                </th>
                <th>
                <p id="service_name">40$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">If our Nail it procedure doesn't last long enough for you this is the option for you. This service includes all the steps from Nail it and plus the no chip procedure ensuring a long lasting beauty.</p>
                </td>
              </tr>
              <tr>
                <th>
                <p id="service_name">Blossom - Spa Manicure
                </p>
                </th>
                <th>
                <p id="service_name">25$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">Feeling weightless like a feather floating on water. Our spa Manicure will make you forget about all of those notifications on your smartphone.</p>
                </td>
              </tr>
              <tr>
                <th>
                <p id="service_name">Glossy - Shining Manicure
                </p>
                </th>
                <th>
                <p id="service_name">10$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">This service includes a glossy finish that will leae you starting t your finger in amazement.</p>
                </td>
              </tr>
              <tr>
                <th>
                <p id="service_name">Asap - Polish Change
                </p>
                </th>
                <th>
                <p id="service_name">20$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">In a hurry but want to look fresh at work? Then this is the service for you. Steps include trimming, shaping, applying acetone, and give it a good clean before finally applying polish.</p>
                </td>
              </tr>
              <tr>
                <th>
                <p id="service_name">Mini me - Kid's Manicure
                </p>
                </th>
                <th>
                <p id="service_name">10$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">It's never too early to give your kid a fabulous makeover for fun. And what better way to start than with a fancy pair of nails?</p>
                </td>
              </tr>
            </table>
          </div>
        </section>
        <div class="parallax_img_2" id="img1"></div>
          <section class="module content">
          <div class="container">
            <h2 style="text-align: center;">Leg is where you carry all of your weight so let us lighten that load for you with our feet pimpin.</h2>
            <table style="width:100%">
              <tr>
                <th>
                <p id="service_name">Journey..... No Chip Pedi
                </p>
                </th>
                <th>
                <p id="service_name">45$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">By the time you come back for a another pedicure you will be different person.</p>
                </td>
              </tr>
              <tr>
                <th>
                <p id="service_name">Cabin in the Wood ....... Spa Pedi
                </p>
                </th>
                <th>
                <p id="service_name">45$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">Have you ever walked around after lightish heavy rain and smelled the fresh scent of leafs? Me neither but our cabin in the wood will let you feel the sensation of peace, serenity, and confort.</p>
                </td>
              </tr>
              <tr>
                <th>
                <p id="service_name">Kickin' it ...... Regular Pedi
                </p>
                </th>
                <th>
                <p id="service_name">35$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">Leg is where you carry all of your weight so let us lighten that load for you with our feet pimpin.</p>
                </td>
              </tr>
              <tr>
                <th>
                <p id="service_name">Mini me pedi ....... Kids's pedi
                </p>
                </th>
                <th>
                <p id="service_name">15$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">Other people stepping on your feet? Get a pedicure with us. We can't guarantee if they will stop stepping on your feet is gonna look...</p>
                </td>
              </tr>
              <tr>
                <th>
                <p id="service_name">Asap pedi ....... Polish Change
                </p>
                </th>
                <th>
                <p id="service_name">15$</p>
                </th> 
              </tr>
              <tr>
                <td colspan="2">
                <p style="font-size: 17px;">Quick time saving polish removal, trim, shape and polish.</p>
                </td>
              </tr>
            </table>
          </div>
        </section>
        <div class="parallax_img_3" id="img1"></div>
        <section class="module content">
        <div class="container">
          <h2 style="text-align: center; margin-bottom: 0px;">Do you like matching things?</h2>
          <h2 style="text-align: center;">if you feel matchie matchie get twinsies</h2>
          <table style="width:100%">
                <tr>
                  <th>
                  <p id="service_name">Wonderland..... Kid Mani & Kid Pedi
                  </p>
                  </th>
                  <th>
                  <p id="service_name">25$</p>
                  </th> 
                </tr>
                <tr>
                  <td colspan="2">
                  <p style="font-size: 17px;">When you walk into your shop We welcome you with open arms</p>
                  </td>
                </tr>
                <tr>
                  <th>
                  <p id="service_name">Eternity....... Nochip Mani & Nochip Pedi 
                  </p>
                  </th>
                  <th>
                  <p id="service_name">75$</p>
                  </th> 
                </tr>
                <tr>
                  <td colspan="2">
                  <p style="font-size: 17px;">Have you ever felt like never changing your color? Forever stuck? Wanna wonder what it's like to not wonder about your next visit?</p>
                  </td>
                </tr>
                <tr>
                  <th>
                  <p id="service_name">Tight ...... Spa Mani & Spa Pedi
                  </p>
                  </th>
                  <th>
                  <p id="service_name">70$</p>
                  </th> 
                </tr>
                <tr>
                  <td colspan="2">
                  <p style="font-size: 17px;">You want to feel the love of Mother Natures nurture? Go camping. But our "Tight" deal will making feel more you than ever before.</p>
                  </td>
                </tr>
                <tr>
                  <th>
                  <p id="service_name">Busy bee ....... Nochip & Spa Pedi
                  </p>
                  </th>
                  <th>
                  <p id="service_name">75$</p>
                  </th> 
                </tr>
                <tr>
                  <td colspan="2">
                  <p style="font-size: 17px;">Busy bee need some bee time before you get back in the game? We will make sure you will be ready for the next problem life throw at you.</p>
                  </td>
                </tr>
                <tr>
                  <th>
                  <p id="service_name">Same goal ....... Nochip & Pedi
                  </p>
                  </th>
                  <th>
                  <p id="service_name">65$</p>
                  </th> 
                </tr>
                <tr>
                  <td colspan="2">
                  <p style="font-size: 17px;">Is this what you want?</p>
                  </td>
                </tr>
                <tr>
                  <th>
                  <p id="service_name">Twinsies ....... Regular mani pedi
                  </p>
                  </th>
                  <th>
                  <p id="service_name">45$</p>
                  </th> 
                </tr>
                <tr>
                  <td colspan="2">
                  <p style="font-size: 17px;">Do you like matching things? if you feel matchie get twinsies.</p>
                  </td>
                </tr>
              </table>
            </div>
      </section>
      <div class="parallax_img_4" id="img1"></div>
      <section class="module content">
        <div class="container">
          <h2 style="text-align: center;">Some hair belongs on a body but some hair at the wrong place at wrong time. Hair control WAX!</h2>
          <table style="width:100%">
            <tr>
              <th>
              <p id="service_name">Full back</p>
              </th>
              <th>
              <p id="service_name">45+</p>
              </th>
              <th>
              <p id="service_name">Chest</p>
              </th>
              <th>
              <p id="service_name">30+</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="service_name">Chin</p>
              </th>
              <th>
              <p id="service_name">10</p>
              </th>
              <th>
              <p id="service_name">Bikini waxing</p>
              </th>
              <th>
              <p id="service_name">30+</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="service_name">Full arm</p>
              </th>
              <th>
              <p id="service_name">45</p>
              </th>
              <th>
              <p id="service_name">Half arm</p>
              </th>
              <th>
              <p id="service_name">25</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="service_name">Full leg</p>
              </th>
              <th>
              <p id="service_name">50</p>
              </th>
              <th>
              <p id="service_name">Half leg</p>
              </th>
              <th>
              <p id="service_name">30</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="service_name">Under arm</p>
              </th>
              <th>
              <p id="service_name">20</p>
              </th>
              <th>
              <p id="service_name">Lip & Eyebrow</p>
              </th>
              <th>
              <p id="service_name">20</p>
              </th> 
            </tr>
          </table>
        </div>
      </section>
      <div class="parallax_img_5" id="img1"></div>
      <section class="module content">
        <div class="container">
          <h2 style="text-align: center;">Flouting like a flower in a river, close your eyes and feel the stress fly away.</h2>
          <table style="width:100%">
            <tr>
              <th>
              <p id="massage">Back it! - Chair massage 30 min</p>
              </th>
              <th>
              <p id="massage">35$</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="massage">Back it! - Chair massage 25 min</p>
              </th>
              <th>
              <p id="massage">30$</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="massage">Back it! - Chair massage 20 min</p>
              </th>
              <th>
              <p id="massage">25$</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="massage">Back it! - Chair massage 15 min</p>
              </th>
              <th>
              <p id="massage">20$</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="massage">Back it! - Chair massage 10 min</p>
              </th>
              <th>
              <p id="massage">15$</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="massage">Sky walk-food massage 30 min</p>
              </th>
              <th>
              <p id="massage">35$</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="massage">Sky walk-food massage 25 min</p>
              </th>
              <th>
              <p id="massage">30$</p>
              </th> 
            </tr>
            <tr>
              <th>
              <p id="massage">Sky walk-food massage 20 min</p>
              </th>
              <th>
              <p id="massage">25$</p>
              </th> 
            </tr>
          </table>
        </div>
      </section>

    </main><!-- /main -->

    <footer>
      <div class="row" style="background-color: #cccccc">
        <div class="col-xs-2 col-sm-6 col-md-6" style="padding: 30px;">
          <h2 style="text-align: center;">Location</h2>
          <p style="text-align: center;">2735 N Lincoln Ave</p>
          <p style="text-align: center;">Chicago, IL 60614</p>
        </div>
        <div class="col-xs-2 col-sm-6 col-md-6" style="padding: 30px;">
          <h2 style="text-align: center;">Hours</h2>
          <p style="text-align: center;">Mon - Fri 10am-8pm</p>
          <p style="text-align: center;">Saturday 10am-7pm</p>
          <p style="text-align: center;">Sunday 10am-6pm</p>
        </div>
      </div>
      <div class="row" style="background-color: #b7b7b7">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 50px;">
          <h1 id="footertext">Naked nail</h1>
          <p id="copyright">2017 NAKED NAIL SALON. ALL RIGHTS RESERVED.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-6">
          <a id="socialbtn" style="float:none;" target="_blank" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.yelp.com%2Fbiz%2Fnaked-nails-and-spa-chicago-2%3Futm_source%3Dishare&h=ATN4BpyOthHItcrIcQPrEFZptcTWlDG4RnfoEO31GZQfwo-jE3dGAs68RB8iFbSPBROhhe7k6jbqRRCUGSwDnT0ssrXAa1TBDkXRSXF1sTixKASDdyTkHpboeDs5JWpVKy9C6P09z4fqlboBIAkx7w"><img border="none" src="assets/yelp.png"/></a>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-6">
          <a id="socialbtn" style="float:none;" target="_blank" href="https://www.facebook.com/Naked-nail-salon-757671347727946/"><img border="none" src="assets/facebook.png"/></a>
        </div>
      </div>
    </footer><!-- /footer -->
    
  </div><!-- /#wrapper -->
</div>
</body>
</html>